body {
  background-color: rgb(216, 240, 240);
  padding: 20px 50px;
}

.nav {
}

.main_header {
  text-align: center;
}

h3,
p {
  margin: 0;
}
main,
.inner_delete_card {
  position: relative;
}
main > #membership_card_section,
.context_header {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 20px;
}


.membership_card {
  border-radius: 4px;
  background-color: white;
  padding: 30px 20px 20px 20px;
  border: solid lightgray 1px;
  flex: 0 0 27%;  
}
.membership_card > div:first-child {
  text-align: center;
}
.membership_card > div:last-child {
  text-align: right;
}
.delete_button {
  background-color: lightcoral;
  border-radius: 4px;
  bottom: 0;
}

.delete_button > svg {
  fill: rgba(255, 0, 0, 0.808);
}
.inner_delete_card {
  margin-top: 20px;
}

#membership_card_creation {
  background-color: white;
  position: relative;
}

#membership_card_creation > form {
  display: flex;
  flex-direction: column;
}
label {
  display: inline-block;
  width: 300px;
  text-align: right;
}